<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Restaurant - Contact</title>
    <link rel="stylesheet" href="css/restau.css">
    <script src="contact.js" defer></script>
</head>
<body>
    <%- include("navbar") -%>
 

    <section id="contact">
        <h2>Formulaire de Contact</h2>
        <form id="contactForm">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" required>
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" required>
            <label for="message">Message:</label>
            <textarea id="message" required></textarea>
            <button id="submit">Envoyer</button>
        </form>
        </section>
        <section class="info">
        <h3>Informations de Contact</h3>
        <p>Numéro de téléphone: <%= contactInfo.telephone %></p> <!-- Utiliser contactInfo -->
        <p>Horaires d'ouverture: <%= contactInfo.horaires %></p> <!-- Utiliser contactInfo -->
    </section>
    
    <%- include("footer") -%>
</body>
</html>