<footer>
    <p>&copy; 2024 Mon Restaurant. Tous droits réservés.</p>
    <ul>
        <a href="https://www.facebook.com/monrestaurant" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/monrestaurant" target="_blank">Instagram</a>
        <a href="https://www.twitter.com/monrestaurant" target="_blank">Twitter</a>
    </ul>
</footer>