<header>
    <nav id="main">
        <ul> <!-- Ajout d'une liste non ordonnée -->
            <li><a href="accueil">Accueil</a></li> <!-- Modification pour utiliser <li> -->
            <li><a href="menu">Menu</a></li>
            <li><a href="equipe">Équipe</a></li>
            <li><a href="contact">Contact</a></li>
        </ul> <!-- Fin de la liste non ordonnée -->

    </nav>
</header>